body{
	background: rgba(94, 129, 244, 0.44);
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.login{
	background-color: rgba(94, 129, 244, 0.44);
	border-radius: 0 0 4% 94%;
}
.login_panel{
	height: 700px;
	margin-top: 7%;

	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;

}
.login_panel form{
	margin-top: -100px;
	margin-left: 0px;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border: 3px solid #5E81F4;
	box-sizing: border-box;
	border-radius: 30px;
	
	background-position: 15px 5px;
	background-repeat: no-repeat;
	text-indent: 35px;
}
input[type=text]{
	background-image: url(../icons/User.png);
}
input[type=text]:focus{
	outline: none;
}
input[type=password]{
	background-image: url(../icons/Vector.png);
}
input[type=password]:focus{
	outline: none;
}
input[type=text]::placeholder, input[type=password]::placeholder{
	font-family: Roboto;
	font-style: normal;
	font-weight: 1000;
	letter-spacing: 1px;
	font-size: 15px;
	line-height: 20px;
	display: flex;

	color: #768492;
}

button {
  background: #5E81F4;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  margin: 30px auto;
  border-radius: 30px!important;
  width: 148px;
}

button:hover {
  opacity: 0.8;
}


.welcome-text {
  text-align: center;
  margin: 24px 0 12px 0;
  font-family: Montserrat;
	font-style: normal;
	font-weight: 950;
	font-size: 27px;
	line-height: 43px;
	letter-spacing: 2px;
	color: #000000;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.text-not-account{	
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 23px;
}
.text-not-account span{
	color: #000000;
}

.text-not-account a{
	margin-left: 5px;
	color: #5E81F4;
}
.img-right{
	margin-top: 15px;
	margin-left: 85%;
}
.img-left{
	margin-top: -80px;
	margin-left: 20px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 862px) {
	.login_panel form{
		margin-top: 0px;
		margin-left: 0px;
	}
	.login_panel .container{
		width:70%!important;
	}
	.img-right{
		display: none;
	}
	.img-left{
		display: none;
	}
}
@media screen and (max-width: 425px) {
	.login_panel form{
		margin-top: 0px;
		margin-left: 0px;
	}
	.login_panel .container{
		width:90%!important;;
	}
	.img-right{
		display: none;
	}
	.img-left{
		display: none;
	}
}